* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: lightgrey;
}

header {
    background-color: olive;
    
}

section {
    padding: 10px;
}

section h2 {
    margin: 5px;
}

section img {
    height: 300px;
}