* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: lightgrey;
}

header {
    background-color: olive;
    text-align: center;
}

section {
    padding: 10px;
}

section h2 {
    margin: 5px;
}

section img {
    float: left;
    height: 300px;
    margin-right: 10px;
}

section p {
    padding: 10px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  footer {
      margin-top: 10px;
      height: 50px;
      background: olive;
      padding: 10px;
  }

  footer h3 {
      margin: auto;
      text-align: center;
  }