* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: lightgrey;
}

header {
    background-color: olive;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 3px;
}

a {
    text-decoration: none;
    color: white;
}

section {
    padding: 10px;
    position: relative;
}

section h2 {
    margin: 5px;
    text-align: center;
}

section img {
    height: 300px;
    margin-right: 10px;
    display: block;
    margin: 0 auto;
}


section p {
    padding: 10px;
    text-align: center;
    width: 60%;
    margin: auto;
}

footer {
    margin-top: 10px;
    height: 55px;
    background: olive;
    padding: 10px;
}

footer h3 {
    margin: auto;
    text-align: center;
}

footer a {
    display: block;
    margin: 0 auto 5px auto;
    text-align: center;
}